name: Release

on:
    push:
        tags:
            - "v*"

jobs:
    build-browser-extension:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Check tag format
              run: |
                  if [[ ! "${GITHUB_REF_NAME}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(-[a-zA-Z0-9]+)?$ ]]; then
                    echo "Tag ${GITHUB_REF_NAME} is not of the form v<major>.<minor>.<patch>"
                    exit 1
                  fi
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
            - name: Build Browser Extension
              id: build
              run: |
                  npm install
                  npm run web:build
            - name: Sign Browser Extension
              id: sign
              env:
                  AMO_KEY: ${{ secrets.AMO_KEY }}
                  AMO_SECRET: ${{ secrets.AMO_SECRET }}
              run: |
                  npm run web:sign
                  version=$(sed 's/^v//' <<< "${GITHUB_REF_NAME}")
                  mv browser_extension/artifacts/*.xpi browser_extension/artifacts/snippetleaf-${version}.xpi
            - name: Parse CHANGELOG.md for Release Notes
              id: parse_changelog
              run: |
                  VERSION=$(echo "${{ github.ref_name }}" | sed 's/^v//')
                  awk "/^## ${VERSION}/ {flag=1} /^## [0-9]/ && !/^## ${VERSION}/ {flag=0} flag" CHANGELOG.md | sed "s/^###/#/" | tail -n +2 > release_notes.md
                  RELEASE_NOTES=$(cat release_notes.md)
                  echo "RELEASE_NOTES<<EOF" >> $GITHUB_OUTPUT
                  echo "$RELEASE_NOTES" >> $GITHUB_OUTPUT
                  echo "EOF" >> $GITHUB_OUTPUT
            - name: Is prerelease
              id: prerelease_check
              run: |
                  VERSION=${{ github.ref_name }}
                  if [[ "$VERSION" == *"-"* ]]; then
                      echo "PRERELEASE=true" >> $GITHUB_OUTPUT
                  else
                      echo "PRERELEASE=false" >> $GITHUB_OUTPUT
                  fi
            - name: Create Release
              uses: ncipollo/release-action@v1
              with:
                  tag: ${{ github.ref_name }}
                  name: ${{ github.ref_name }}
                  body: ${{ steps.parse_changelog.outputs.RELEASE_NOTES }}
                  draft: false
                  prerelease: ${{ steps.prerelease_check.outputs.PRERELEASE }}
                  makeLatest: true
                  artifacts: "browser_extension/artifacts/*.zip,browser_extension/artifacts/*.xpi"
